.btn-style, .button {
  background-color: #865dff;
  color: white;
  padding: 1em 2em;
  border-radius: 12px;
  font-size: 1.1em;
  font-family: 'Georgia', serif;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  text-align: center;
}

.btn-style:hover, .button:hover {
  background-color: #a682ff;
  transform: scale(1.05);
}

/* Toggle du thème */
.theme-toggle-container {
  position: absolute;
  top: 1em;
  right: 1em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #865dff;
}

input:checked + .slider:before {
  transform: translateX(22px);
}
